/* imported fonts below */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
/* self hosted fonts below */
@font-face {
    font-family: my-cool-font;
    src: url(../fonts/the-font-file.woff);
  }
  
  h1 {
    font-family: my-cool-font, sans-serif;
  }
  
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
 }
  
p.line-height {
    line-height: 1.5;
  }

.overflowing {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  